body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form > input {
  margin: 2em 1rem;
  width: 400px;
  height: 25px;
  border: 2px black solid;
  border-radius: 5px;
}

.icon:hover {
  cursor: pointer;
}

#loading {
  display: none;
}

#loading.display {
  display: block;
}

h1{
  /* width: 100%; */
  /* removed horizontal scroll bar */
  margin: 0 auto;
  background: #000;
  color: white;
  text-align: center;
  padding: 15px;
}

.countries{
  max-width: 1240px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.country-div-details {
  border: 10px solid #EFEFEF;
}

.country-div-details > h1, h3 {
  padding: 0 10px;
  margin: 5px;
  text-align: left;
}

img{
  width: 100%;
  height: 150px;
  border: 2px solid gray;
}

/* now do styles as much as you want */
/* add media query for responsive */
@media screen and (max-width: 576px){
  .countries{
      grid-template-columns: repeat(1, 1fr);
  }
}